{% extends 'base.html' %}

{% block title %}Kezdőlap{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron">
                <h1 class="display-4">Üdvözöljük a JERV ERP rendszerben!</h1>
                <p class="lead">Ez a rendszer segít a vállalkozás hatékony kezelésében.</p>
                <hr class="my-4">
                <p>A következő modulok érhetők el:</p>
                <ul>
                    <li>Felhasználókezelés és Jogosultságok</li>
                    <li>Készletkezelés</li>
                    <li>Ügyfélkezelés</li>
                    <li>Rendeléskezelés</li>
                    <li>Webshop API integráció</li>
                    <li>B2B feed feldolgozás</li>
                    <li>Statisztikák</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}